/* layer: default */

/* group: modules.news.nophoto_img | Заглушки для изображений */
/* param: articles_mini | Заглушка в статьях (шаблоны: список) | url | ../images/article-min.jpg */
/* param: articles_big | Заглушка в статьях (шаблоны: вертикальные в контенте) | url | ../images/article-big.jpg */
/* param: articles_medium | Заглушка в статьях (шаблоны: вертикальные в колонке) | url | ../images/article-medium.jpg */
/*------------------------*/
.b-article {
    margin-bottom: 40px;
    padding: 0;
    position: relative;
}
.b-article .b-title-h2 {
    margin: 0 0 15px;
    color: [editor.h2.color];
    font-family: [editor.h2.family];
    font-size: [editor.h2.size];
    font-style: [editor.h2.style];
    font-weight: [editor.h2.bold];
    text-decoration: none;
    word-wrap: break-word;
}    
.b-article .article__item {
    margin: 0 0 20px;
    padding: 0 0 20px;
    position: relative;
    background: [modules.news.color] url("[modules.news.img]") [modules.news.repeat] scroll [modules.news.hposition] [modules.news.vposition];
}
.b-article .article__inner {}
.b-article .article__inner:after {
    content: "";
    display: block;
    clear: both;
    font-size: 0;
}
.b-article .article__box {
    overflow: hidden;
}
.b-article .article__date {
    margin: 0 0 15px;
    font-family: [modules.news.date.font_family];
    font-size: [modules.news.date.size];
    font-weight: [modules.news.date.weight];
    font-style: [modules.news.date.style];
    text-decoration: [modules.news.date.decoration];
    text-transform: [modules.news.date.transform];
    color: [modules.news.date.color];
}
.b-article .article__author {
    font-family: [modules.news.date.font_family];
    font-size: [modules.news.date.size];
    font-weight: [modules.news.date.weight];
    font-style: [modules.news.date.style];
    text-decoration: [modules.news.date.decoration];
    text-transform: [modules.news.date.transform];
    color: [modules.news.date.color];
}
.b-article .article__title span,
.b-article .article__title a:link, 
.b-article .article__title a:visited {
    font-family: [modules.news.normal.font_family];
    font-size: [modules.news.normal.size];
    font-weight: [modules.news.normal.weight];
    font-style: [modules.news.normal.style];
    text-decoration: [modules.news.normal.decoration];
    text-transform: [modules.news.normal.transform];
    color: [modules.news.normal.color];
}
.b-article .article__title a:hover, 
.b-article .article__title a:active {
    font-family: [modules.news.active.font_family];
    font-size: [modules.news.active.size];
    font-weight: [modules.news.active.weight];
    font-style: [modules.news.active.style];
    text-decoration: [modules.news.active.decoration];
    text-transform: [modules.news.active.transform];
    color: [modules.news.active.color];
}
.b-article .article__title {
    margin: 0 0 15px;
    padding-left: [modules.news.bullit.width];
    background: transparent url("[modules.news.bullit.img]") 0 5px no-repeat;
    font-family: [modules.news.title.font_family];
    font-size: [modules.news.title.size];
    font-weight: [modules.news.title.weight];
    font-style: [modules.news.title.style];
    text-decoration: [modules.news.title.decoration];
    text-transform: [modules.news.title.transform];
    color: [modules.news.title.color];
    word-wrap: break-word;
}
.b-article .article__text {
    overflow: hidden;
}
.b-article .b-editor {
    margin-bottom: 0;
}
.b-article .article__linkback {
    font-size: [modules.news.date.size];
}
.b-article .article__pic img {
    max-width: 100%;
    width: 100%;
    height: auto;
    vertical-align: bottom;
}
.b-article .article__more,
.b-article .article__back {
    padding-top: 20px;
}
/*------------------------*/
    /*------------------------*/
    .b-article--list {
        margin-bottom: 0;
        padding: 0;
    }
    .b-article--list .article__title {
        font-family: [modules.news.normal.font_family];
        font-size: [modules.news.normal.size];
        font-weight: [modules.news.normal.weight];
        font-style: [modules.news.normal.style];
        text-decoration: none;
        text-transform: [modules.news.normal.transform];
        color: [modules.news.normal.color];
        line-height: 1;
    }
    .b-article--list .article__pic {
        float: left;
        width: 30%;
        width: calc(100% / 3 - 20px);
        margin-right: 30px;
    }
    /*------------------------*/
    .b-article--main {
        margin-right: -[modules.news.col.margin-r] ;
    }
    .b-article--main .article__item {
        margin-right: [modules.news.col.margin-r];
        padding-bottom: 0;
        width: [modules.news.col.width];
        height: [modules.news.col.height];
        float: left;
        overflow: hidden;
    }
    .b-article--main .article__item:after {
        display: none;
    }
    /*------------------------*/
    .b-article--cols .article__row {
        margin: 0 -15px;
    }
    .b-article--cols .article__item {
        display: inline-block;
        vertical-align: top;
        margin-left: 15px;
        margin-right: 15px;
        width: calc(100% / 3 - 30px);
    }
    .b-article--cols .article__pic {
        margin-bottom: 15px;
    }
    .b-article--cols .article__box {
        overflow: initial;
    }
    /*------------------------*/
    .b-article--vertical .article__pic {
        margin-bottom: 15px;
    }
    /*------------------------*/
    .b-article--detal .article__date {
        margin-top: 15px;
    }
    /*------------------------*/    
/*------------------------*/