@font-face {
    font-family: 'Open Sans Condensed';
    src: url('OpenSansCondensed-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-display: fallback;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('OpenSansCondensed-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: fallback;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('OpenSansCondensed-Bold.woff2') format('woff2');
    font-weight: bold;
    font-display: fallback;
    font-style: normal;
}

