/* layer: default */
    /* group: modules.search | Поиск */
        /* param: btn_img        | Изображение кнопки поиска | url | ../images/btnsearch.png */
        /* param: btn_width      | Ширина кнопки поиска | size | 24px */
        /* param: btn_height     | Высота кнопки поиска | size | 24px */
        /* param: border_color   | Цвет бордера | color | #dddddd */
        /* param: color          | Цвет текста поля | color | #515151 */
            /* parentParam: default..base.userbase.fontfamily.color_text */

    /* group: modules.search.head | Поиск в шапке */
        /* param: bgcolor             | Цвет фона поля | color | #fff */
        /* param: bgbtncolor          | Цвет фона кнопок | color | #3dade1 */
        /* param: textcolor           | Цвет текста | color | #000 */
        /* param: btn_width           | Ширина кнопки поиска | size | 50px */
        /* param: btn_open            | Изображение кнопки открытия поиска | url | ../images/search.icon1.png */
        /* param: btn_search          | Изображение кнопки поиска | url | ../images/search.icon2.png */
        /* param: btn_close           | Изображение кнопки закрытия поиска | url | ../images/search.icon3.png */
.b-search {
    padding-bottom: 1.5em;
    line-height: 1.1;
}
.b-search input {
    padding: 0 5px;
    vertical-align: middle;
    border: 1px solid [modules.search.border_color];
    background: #fff;
    color: [modules.search.color];
    width: 100%;
    height: [modules.search.btn_height] - 2;
    box-sizing: border-box;
}
.b-search button {
    margin: 0;
    margin-left: 10px;
    padding: 0;
    border: 0;
    float: right;
    background: url([modules.search.btn_img]) 50% 0 no-repeat;
    width: [modules.search.btn_width];
    height: [modules.search.btn_height];
    cursor: pointer;
}
.b-search button:hover {
    background-position: 50% 100%;
}
.b-search .search_inputbox {
    overflow: hidden;
}
.b-search .search_inputbox div {
    margin-right: 2px; 
}
.b-search_page {
    padding: 0;
}
.b-search_page input {
    font-size: 1.21em;
}
    /*------------------------*/
    .b-search_big input {
        width: 250px;
    }
    .b-search_big button {
        float: left;
    }
    /*-------------------------*/
/* modules.search.head - Поиск в шапке */
.b-search_head {
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    width: [modules.search.head.btn_width];
    height: 50px;
    max-width: [page.max-width];
    z-index: 50;
    text-align: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    transition: all .1s ease-out;
}
.b-search_head .search__inner {
    /*padding-left: 70px;*/
    right: 20px;
    overflow: hidden;
    position: relative;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.b-search_head form {
    height: 100%;
}
.b-search_head .search__open {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    width: [modules.search.head.btn_width];
    height: 100%;
    outline: none;
    text-align: center;
    background: [modules.search.head.bgbtncolor] url([modules.search.head.btn_open]) 50% 50% no-repeat;
}
.b-search_head .search__btn {
    display: none;
    position: absolute;
    top: auto;
    left: 0;
    width: 70px;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: center;
    background: url([modules.search.head.btn_search]) 50% 50% no-repeat;
}
.b-search_head .search__btn:hover {
    background-position: 50% 50%;
}
.b-search_head .search__close {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -60px;
    width: 60px;
    cursor: pointer;
    -webkit-transition: right .3s ease;
    -moz-transition: right .3s ease;
    transition: right .3s ease;
    background: url([modules.search.head.btn_close]) 50% 50% no-repeat;
}
.b-search_head .search_inputbox {
    display: inline-block;
    width: 0;
    height: 100%;
}
.b-search_head input {
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    border: none;
    background: [modules.search.head.bgcolor];
    color: [modules.search.head.textcolor];
    font-size: 14px;
}
    /*---------------------*/
    .b-search_head_full {
        width: 100%;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
    .b-search_head_full .search_inputbox {
        width: 100%;
    }
    .b-search_head_full input {
        padding-left: 70px;
    }
    .b-search_head_full .search__inner {
        right: 0;
    }
    .b-search_head_full .search__close {
        right: 0;   
    }
    .b-search_head_full {
        width: 100%;
        background-color: #fff;
    }
/*-------------------------*/
