<?xml version="1.0" encoding="UTF-8" ?>
<preferences>
    <tags delete="0">1</tags>
    <paragraph insert="0">
        <start><![CDATA[<p>]]></start>
        <end><![CDATA[</p>]]></end>
    </paragraph>
    <newline insert="1"><![CDATA[<br />]]></newline>
    <cmsNewLine valid="0" />
    <dos-text delete="0" />
    <nowraped insert="1" nonbsp="0" length="0">
        <start><![CDATA[<nobr>]]></start>
        <end><![CDATA[</nobr>]]></end>
    </nowraped>
    <hanging-punct insert="0" />
    <hanging-line delete="0" />
    <minus-sign><![CDATA[&ndash;]]></minus-sign>
    <hyphen insert="0" length="0" />
    <acronym insert="1"></acronym>
    <symbols type="0" />
    <link target="" class="" />
</preferences>