/*------------------------*/
/*------------------------*/
/*------------------------*/
/*------------------------*/
/*------------------------*/
/*------------------------*/
/*------------------------*/
/*------------------------*/
/*------------------------*/
/*------------------------*/
/*------------------------*/


html, body {
    height: 100%;
}
body {
    background: none repeat scroll 0 0 #206a99;
    color: #000;
    font: 0.75em/1.4 Tahoma,arial,verdana;
    margin: 0;
    position: relative;
    z-index: 0;
}
h1 {
    color: #808080;
    font-family: Tahoma;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin: 0 0 1em 0;
    text-decoration: none;
    color: #d30001;
}
h2 {
    color: #000;
    font-family: Tahoma;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    margin: 0 0 0.3em;
    text-decoration: none;
}
a {
    color: #0080b4;
}
a:visited {
    color: #0080b4;
}
a:hover, a:active {
    color: #0080b4;
}
img {
    border: 0 none;
}
.g-clear {
    clear: both;
}
/*------------------------*/
.container__field, .container__page, .l-container {
    min-width: 980px;
    width: 100%;
}
.l-container {
    overflow: hidden;
    position: absolute;
}
.container__field, .container__page {
    left: 50%;
    max-width: 1280px;
    position: relative;
    top: 0;
}
.container__page {
    z-index: 1;
}
.container__wrapper, .container__content {
    left: -50%;
    position: relative;
    width: 100%;
}
.container__content {
    background-color: #fff;
}
.container__opera {
    left: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
}
.container__right, .container__left, .container__wrapper, .container__field, .container__opera {
    height: 100%;
    position: absolute;
}
.container__right, .container__left {
    width: 1000px;
}
.container__left {
    background: url("/images/bgl.gif") repeat-y scroll 100% 0 #206a99;
    left: -1000px;
}
.container__right {
    background: url("/images/bgr.gif") repeat-y scroll 0 0 #206a99;
    margin-left: 100%;
}
    /*------------------------*/
    .l-container_footer {
        margin-top: -80px;
        min-height: 0;
        z-index: 10;
    }
    .l-container_footer .container__page {
        padding-bottom: 0;
    }
    .l-container_footer .container__content {
        background: none repeat scroll 0 0 #A1A1A1;
        color: #D5D2CA;
        height: 80px;
    }
/*------------------------*/
.l-footerbox {
    position: relative;
}
.l-footerbox .footerbox__wrapper {
    padding-top: 3px;
    background: url(../images/foot.bg.gif) 0 0 repeat;
    z-index: 1;
}
.l-footerbox .footerbox__left {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    background: ;
    z-index: 0;
}
.l-footerbox .footerbox__right {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -100%;
    background: ;
    z-index: 0;
}

/*------------------------*/
.l-grid {
    width: 100%;
    position: relative;
    color: #fff;
}
.grid__wrapper {
    padding: 10px;
    position: relative;
}
.grid__wrapper:after {
    clear: both;
    content: "";
    display: block;
}
.grid__item {
    clear: right;
    display: none;
    float: left;
}
.l-grid_1 .grid__item {
    display: block;
    width: 100%;
}
.l-grid_2 .grid__item {
    display: block;
    width: 50%;
}
.l-grid_3 .grid__item {
    display: block;
    width: 33.33%;
}
.l-grid_4 .grid__item {
    display: block;
    width: 25%;
}
.l-grid_5 .grid__item {
    display: block;
    width: 20%;
}
.l-grid a {
    color: #fff;
}
    /*------------------------*/
    .l-grid_tape {
        background: none repeat scroll 0 0 #EBEBE1;
    }
    .l-grid_tape .grid__wrapper {
        padding: 0.5em 10px;
    }
    .l-grid_tape .grid__indent {
        padding: 10px;
    }
    .l-grid_tape a, .l-grid_tape a:visited {
        color: #258DC3;
    }
    .l-grid_tape a:hover, .l-grid_tape a:active {
        color: #A3A096;
    }
/*------------------------*/
.l-content {
    position: relative;
    width: 100%;
}
.l-content:after {
    clear: both;
    content: "";
    display: block;
}
.content__wrapper {
    float: left;
    width: 100%;
}
.content__center {
    margin: 0 220px;
    position: relative;
}
.content__right, .content__left {
    clear: right;
    float: left;
    width: 220px;
}
.content__left {
    margin-left: -100%;
}
.content__right {
    margin-left: -220px;
}
.content__indent {
    position: relative;
}
    /*------------------------*/
    .l-content_c .content__center {
        margin: 0;
    }
    .l-content_c .content__right, .l-content_c .content__left {
        display: none;
    }
    /*------------------------*/
    .l-content_lc .content__center {
        margin-right: 0;
    }
    .l-content_lc .content__right {
        display: none;
    }
    /*------------------------*/
    .l-content_cl .content__center {
        margin-left: 0;
    }
    .l-content_cl .content__left {
        margin-left: -220px;
    }
    .l-content_cl .content__right {
        display: none;
    }
    /*------------------------*/
    .l-content_cr .content__center {
        margin-left: 0;
    }
    .l-content_cr .content__left {
        display: none;
    }
    .l-content_cr .content__right {
        margin-left: -220px;
    }
    /*------------------------*/
    .l-content_rc .content__center {
        margin-right: 0;
    }
    .l-content_rc .content__left {
        display: none;
    }
    .l-content_rc .content__right {
        margin-left: -100%;
    }
    /*------------------------*/
    .l-content_rcl .content__left {
        margin-left: -220px;
    }
    .l-content_rcl .content__right {
        margin-left: -100%;
    }
/*------------------------*/
.b-counter {
    position: relative;
    width: 100%;
}

.b-counter td {
    vertical-align: middle;
}

/*------------------------*/
.b-input {
    padding: 0 6px 0 0;
}
.b-input input {
    font-family: tahoma;
    left: 6px;
    margin-left: -6px;
    position: relative;
    width: 100%;
}
/*------------------------*/
.b-search {
    margin: 0 0 2em;
    padding: 0;
    position: relative;
}
.b-search h2 {
}
.b-search table {
    border-collapse: collapse;
    width: 100%;
}
.b-search input {
    border: 1px solid #7B7978;
    color: #515151;
}
.b-search .input {
    padding: 0;
    vertical-align: middle;
    width: 100%;
}
.b-search .button {
    vertical-align: middle;
}
.b-search .button button {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    padding: 0;
}
.b-search_page {
    padding: 0;
}
.b-search_page input {
    font-size: 1.21em;
}
/*------------------------*/
.b-tape {
    position: relative;
    width: 100%;
}
.b-tape p, .b-tape h3 {
    font-weight: normal;
    margin: 0;
}
.b-tape h3 {
    font-size: 0.86em;
    font-weight: bold;
    margin-bottom: 0.6em;
}
.b-tape p {
    font-size: 0.79em;
}
/*------------------------*/
.b-banner {
    overflow: hidden;
    padding: 1em 0;
    position: relative;
    text-align: center;
    width: 100%;
}
.b-banner img {
    border: 0 none;
    vertical-align: top;
}
/*------------------------*/
.b-header {
    height: 47px;
    position: relative;
}
.b-header p {
    margin: 0;
}
/*------------------------*/
.b-phone {
    top: 10px;
    right: 10px;
    position: absolute;
    text-align: center;
}
/*------------------------*/
.b-upper-logo {
    position: absolute;
    top: 10px;
    left: 30px;
    z-index: 5;
}
/*------------------------*/
.b-sevice {
    position: absolute;
    top: 13px;
    right: 165px;
    z-index: 1;
}
.b-sevice:after {
    clear: both;
    content: "";
    display: block;
}
.b-sevice ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 100%;
}
.b-sevice li {
    border-right: 1px dotted #000000;
    display: inline-block;
    font-size: 1.167em;
    font-weight: bold;
    line-height: 1.1;
    margin: 0;
    padding: 0 1em;
    position: relative;
    text-transform: none;
}
.b-sevice a, .b-sevice a:visited {
    color: #000;
}
.b-sevice a:hover, .b-sevice a:active {
    color: #000;
    text-decoration: none;
}
.b-sevice ins {
    display: none;
    height: 15px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0.25em;
    width: 15px;
}
.b-sevice a:hover ins {
}
.b-sevice .on {
    color: #000;
    text-decoration: none;
}
.b-sevice .on a, .b-sevice .on a:visited {
    color: #000;
    text-decoration: none;
}
.b-sevice .on a:hover, .b-sevice .on a:active {
    color: #000;
    text-decoration: none;
}
.b-sevice .on ins {
}
/*------------------------*/
.b-picture {
    position: relative;
    text-align: center;
    overflow: hidden;
    background: url(../images/banner.gif) 0 0;
    height: 142px; 
}

/*------------------------*/
.b-logo {
    left: 0;
    top: 1px;
    position: absolute;
    z-index: 9;
}
.b-logo img {
    border: 0 none;
}
/*------------------------*/
.b-menu {
    background-color: #FFFDFC;
    margin-bottom: 2em;
    padding: 0;
    position: relative;
    text-align: left;
}
.b-menu ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
}
.b-menu li {
    background-color: #FFFDFC;
    color: #000000;
    font-family: Tahoma;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    position: relative;
    text-decoration: none;
}
.b-menu a, .b-menu a:visited {
    color: #000000;
    font-family: Tahoma;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.b-menu a:hover, .b-menu a:active {
    color: #000000;
    font-family: Tahoma;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.b-menu .level-1 {
}
.b-menu .item-1 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0.86em;
    text-transform: none;
}
.b-menu .item-1 span {
    background: url("/images/mbg.gif") repeat-x scroll left bottom transparent;
    display: block;
    padding: 5px 32px 5px 10px;
}
.b-menu .item-1 ins {
    background: url("/images/mar_unsel.gif") no-repeat scroll 50% 50% transparent;
    height: 20px;
    overflow: hidden;
    position: absolute;
    right: 2px;
    top: 5px;
    width: 20px;
}
.b-menu .on-1 {
    background: none repeat scroll 0 0 #FFFFFF;
}
.b-menu .on-1 span {
    background: url("/images/mbg2.gif") repeat-x scroll left top #236dcc;
    color: #FFFFFF;
    font-family: Tahoma;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.b-menu .on-1 a, .b-menu .on-1 a:visited, .b-menu .on-1 a:hover, .b-menu .on-1 a:active {
    color: #FFFFFF;
    font-family: Tahoma;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.b-menu .on-1 ins {
    background: url(../images/mar_unsel2.gif) no-repeat scroll 50% 50% transparent;  
}
.b-menu .level-2 {
}
.b-menu .item-2 {
    line-height: 1.1;
    padding: 0.4em 10px 0.6em 20px;
    text-transform: none;
}
.b-menu .item-2 a, .b-menu .item-2 a:visited {
    color: #6A6A6A;
    font-family: Tahoma;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.b-menu .item-2 a:hover, .b-menu .item-2 a:active {
    color: #6A6A6A;
    font-family: Tahoma;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.b-menu .on-2 a, .b-menu .on-2 a:visited, .b-menu .on-2 a:hover, .b-menu .on-2 a:active {
    color: #6C6C6C;
    font-family: Tahoma;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
}
.b-menu .level-3 {
}
.b-menu .item-3 {
    font-size: 0.92em;
    padding: 0.5em 40px 0;
}
.b-menu .item-3 a, .b-menu .item-3 a:visited {
    color: #A8A8A8;
    font-family: Tahoma;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.b-menu .item-3 a:hover, .b-menu .item-3 a:active {
    color: #A8A8A8;
    font-family: Tahoma;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.b-menu .on-3 a, .b-menu .on-3 a:visited, .b-menu .on-3 a:hover, .b-menu .on-3 a:active {
    color: #FF5218;
    font-family: Tahoma;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
}
/*------------------------*/
.b-special {
    position: relative;
}
.b-special h2 {
}
.b-special h3 {
    color: #000000;
    font-size: 0.93em;
    font-weight: bold;
    margin: 0 0 0.3em;
    padding: 0 10px;
}
.b-special p {
    font-size: 0.79em;
    margin: 0;
    padding: 0 10px;
}
.b-special ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.b-special li {
    margin: 0 0 2em;
}
.b-special div {
    margin: 0 0 0.6em;
    position: relative;
}
.b-special img {
    border: 0 none;
    vertical-align: top;
}
.b-special a, .b-special a:visited {
}
.b-special a:hover, .b-special a:active {
}
/*------------------------*/
.b-news {
    margin-bottom: 2em;
    padding: 0;
    position: relative;
}
.b-news dl {
    margin: 0;
    padding: 0 0 0.2em;
    position: relative;
}
.b-news dt {
    margin: 0 0 0.5em 0;
}
.b-news .news__date {
    margin-right: 12px;
    padding-right: 8px;
    color: #737373;
    font-weight: bold;
    font-size: 11px;
}
.b-news dd {
    margin: 0 0 1em;
    padding: 0 0 15px 0;
    font-size: 1em;
    background: url("/images/dotts.gif") repeat-x scroll 0 100% transparent;
}
.b-news a, .b-news a:visited {
    color: #0080b4;
    text-decoration: underline;
}
.b-news a:hover, .b-news a:active {
    color: #0080b4;
    text-decoration: none;
}
.b-news .news_detail_back {
    margin: 1.5em 0;
}
.b-news .news__avtor {
    color: #666666;
    font-family: Tahoma;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.b-news .news-title {
    padding-left: 21px;
    background: url("/images/mar_unsel.gif") 0 3px no-repeat;
    font-weight: bold;
    font-size: 14px;
}
.b-news p {
    padding-bottom: 0.5em;
}
.b-news .news__doc {
    padding: 1px 21px 2px 0;
    background: url(../images/rtf.gif) 100% 0 no-repeat; 
}
    /*------------------------*/
    .b-news_list {
        margin-bottom: 0;
        padding: 0;
    }
    .b-news_list p {
        font-size: 1em;
        margin: 0;
    }
    .b-news_list dd {
        font-size: 1em;
    }
    /*------------------------*/
    .b-news_page {
        margin-bottom: 1em;
        padding: 0;
    }
    .b-news_page p {
        font-size: 1em;
        font-weight: bold;
        margin: 0;
    }
    .b-news_page .news__date {
        color: #666666;
        font-family: Tahoma;
        font-size: 12px;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
    }
    /*------------------------*/
    .news_detail_back a {
    }
/*------------------------*/
.b-path {
    margin: 0;
    padding: 0 0 0.4em;
    position: relative;
}
.b-path li, .b-path ul {
    display: inline;
    margin: 0;
    padding: 0;
}
.b-path li {
    color: #666666;
    font-size: 0.92em;
}
.b-path li:before {
    content: " → ";
}
.b-path li:first-child:before {
    content: "";
}
.b-path a {
    color: #0080b4;
}
/*------------------------*/
.b-basket {
    margin: 0.6em 0 1em;
    min-height: 60px;
    padding: 0 0 0 80px;
    position: relative;
}
.b-basket ins {
    background: url("/images/basket2.gif") no-repeat scroll center center #FFFDFC;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 80px;
}
.b-basket dt {
    line-height: 1.7;
    margin: 0;
}
.b-basket dd {
    color: #666666;
    font-size: 0.86em;
    font-style: italic;
    line-height: 1.3;
    margin: 0;
}
    /*------------------------*/
    .b-basketbox {
    }
    .b-basketbox table {
        border-collapse: collapse;
        margin: 0 0 2em;
        padding: 0;
        width: 100%;
    }
    .b-basketbox th {
        background-color: #666666;
        border: 1px solid #666666;
        color: #FFFFFF;
        margin: 0;
        padding: 4px 6px;
        text-align: left;
    }
    .b-basketbox td {
        border: 1px solid #666666;
        margin: 0;
        padding: 6px;
        vertical-align: top;
    }
    .b-basketbox .basketbox__butbox {
        text-align: right;
    }
    .b-basketbox button {
        border: 0 none;
        cursor: pointer;
        height: 26px;
        width: 95px;
    }
    .b-basketbox .basket-delete {
        background: url("/images/delete.gif") no-repeat scroll 0 0 transparent;
    }
    .b-basketbox .basket-send {
        background: url("/images/send.gif") no-repeat scroll 0 0 transparent;
    }
    .b-basketbox .basket-order {
        background: url("/images/order.gif") no-repeat scroll 0 0 transparent;
    }
    .b-basketbox .basket-clear {
        background: url("/images/clear.gif") no-repeat scroll 0 0 transparent;
    }
    .b-basketbox .basket-back {
        background: url("/images/back.gif") no-repeat scroll 0 0 transparent;
    }
    .b-basketbox .basket-recount {
        background: url("/images/recount.gif") no-repeat scroll 0 0 transparent;
    }
/*------------------------*/
.b-editor {
    margin-bottom: 1.5em;
    position: relative;
}
.b-editor h2 {
    color: #000;
    font-family: Tahoma;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    margin: 0 0 1em;
    text-decoration: none;
}
.b-editor h3 {
    color: #000000;
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 1em;
}
.b-editor h4 {
    color: #000000;
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 1em;
}
.b-editor h5 {
    color: #000000;
    font-size: 0.86em;
    font-weight: bold;
    margin: 0 0 1em;
}
.b-editor h6 {
    color: #000000;
    font-size: 0.86em;
    font-weight: bold;
    margin: 0 0 0.3em;
}
.b-editor p {
    margin: 0 0 1em;
}
.b-editor ul, .b-editor ol {
    margin: 0 0 1em;
    padding: 0 0 0 3em;
}
.b-editor ol {
    list-style: decimal outside none;
}
.b-editor ul {
    list-style: square outside none;
}
.b-editor li {
    margin: 0 0 0.5em;
}
.b-editor table {
    border-collapse: collapse;
    margin: 0 0 1em;
}
.b-editor th {
    font-weight: bold;
    background-color: #086ba2;
    color: #ffffff;
}
.b-editor td, .b-editor th {
    padding: 0.5em;
    text-align: left;
    vertical-align: top;
    border: 1px solid #a3a3a3;
}
.b-editor img {
    border: 0 none;
}
/*------------------------*/
.b-sape {
    clear: both;
    text-align: center;
    width: 100%;
}
/*------------------------*/
.b-pilot {
    position: relative;
    width: 100%;
    z-index: 9;
}
.b-pilot p {
    margin: 0;
}
.pilot__1 {
    padding: 0;
    position: absolute;
    right: 56px;
    top: -10px;
}
.pilot__2 {
    padding: 0;
    width: 500px;
    position: absolute;
    left: 250px;
    top: 10px;
    color: #fff;
    font-size: 1.714em;
}
.pilot__3 {
    padding: 0;
    position: absolute;
    left: 250px;
    top: 90px;
    color: #fff;
    font-size: 1.286em;
}
/*------------------------*/
.b-auth {
    min-height: 136px;
}
.b-auth .inpusize1 {
    border: 1px solid #8E8F8F;
    width: 120px;
}
.b-auth .auth_btn {
    background: url("/images/btn_enter.gif") no-repeat scroll 0 50% transparent;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
    width: 65px;
}
.b-auth .auth_tab {
    margin-bottom: 10px;
}
.b-auth {
    background: url("/images/auth.gif") no-repeat scroll 50% 50% transparent;
    color: #000000;
    font-family: Tahoma;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    padding: 25px 0 0 15px;
    position: relative;
    text-decoration: none;
}
.b-auth a {
    color: #000000;
    font-family: Tahoma;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
}
.b-auth button {
    background: url("/images/btn_enter.gif") no-repeat scroll 50% 50% transparent;
    border: 0 none;
    height: 30px;
    width: 70px;
}
/*------------------------*/
.b-pageline {
    padding-bottom: 1em;
    display: inline;
}
.b-pageline li {
    list-style-type: none;
}
.b-pageline:after {
    clear: both;
    content: "";
    display: block;
}
.b-pageline a, .b-pageline span {
    display: block;
    float: left;
    margin-right: 0.5em;
    padding: 0.3em 0.5em;
}
.b-pageline a:hover {
    text-decoration: none;
}
.b-pageline a.pageline__on {
    background-color: #999999;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}
.b-pageline .pageline__back1 {
    padding: 0.3em 0;
    text-decoration: none;
}
.b-pageline a.pageline__back2, .b-pageline span.pageline__back2 {
    padding: 0.3em 0.5em 0.3em 0;
}
.b-pageline a.pageline__next1 {
    padding: 0.3em 0;
    text-decoration: none;
}
.b-pageline .pageline__next2 {
}
/*------------------------*/
.b-more {
    background: url("/images/mar_unsel.gif") no-repeat scroll 100% 4px transparent;
    padding-bottom: 1em;
    padding-right: 1em;
}
.b-more:after {
    clear: both;
    content: "";
    display: block;
}
.b-more a {
    color: #AEAEAE;
    float: right;
    font-family: Tahoma;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
}
.b-more h2 {
    float: left;
}
/*------------------------*/
.column {
    background: url("about:blank") no-repeat scroll 0 0 #FFFFFF;
    height: 100%;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 0;
}
.column:after {
    clear: both;
    content: "";
    display: block;
}
.column__right, .column__left, .column__center {
    clear: right;
    float: left;
}
.column__center {
    width: 100%;
}
.column__left {
    margin-left: -100%;
    width: 237px;
}
.column__right {
    margin-left: -250px;
    width: 250px;
}
.column__center-indent {
    margin: 0 250px 0 220px;
    padding: 20px;
}
.column__left-indent {
    padding: 20px;
}
.column__right-indent {
    padding: 20px;
}
.column__right-bg, .column__left-bg, .column__center-bg {
    bottom: 0;
    position: absolute;
    top: 0;
    z-index: -1;
}
.column__center-bg {
    left: 220px;
    right: 250px;
}
.column__left-bg {
    left: 0;
    width: 220px;
}
.column__right-bg {
    right: 0;
    width: 250px;
}
.column__right-inside, .column__left-inside, .column__center-inside {
    border-radius: 0 0 0 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.column__center-inside {
    background: url("about:blank") no-repeat scroll 0 0 #FFFFFF;
    border-color: #A8D4F0;
    border-style: dashed;
    border-width: 0 0;
    margin: 0;
}
.column__left-inside {
    background: url("") repeat scroll 0 0 #FFFFFF;
    border-color: #00A000;
    border-style: none;
    border-width: 0;
    margin: 0;
}
.column__right-inside {
    background: url("about:blank") no-repeat scroll 0 0 transparent;
    border-color: #AAAAAA;
    border-style: none;
    border-width: 0;
    margin: 0;
}
    /*------------------------*/
    .column_lc .column__center-indent {
        margin-right: 0;
    }
    .column_lc .column__right {
        display: none;
    }
    .column_lc .column__right-bg {
        display: none;
    }
    .column_lc .column__center-inside {
        border-right-width: 0;
    }
    .column_lc .column__center-bg {
        right: 0;
    }
    /*------------------------*/
    .column_cr .column__center-indent {
        margin-left: 0;
    }
    .column_cr .column__left {
        display: none;
    }
    .column_cr .column__left-bg {
        display: none;
    }
    .column_cr .column__center-inside {
        border-left-width: 0;
    }
    .column_cr .column__center-bg {
        left: 0;
    }
/*------------------------*/
.b-bannerright {
    margin-bottom: 1em;
}
/*------------------------*/
.b-speclink h2 {
    float: left;
}
.b-speclink a {
    padding-top: 5px;
    font-weight: bold;
    float: right;
}
/*------------------------*/
.b-picbox {
    margin-bottom: 2em;
    color: #000;
    text-align: center;
    background: #dbe0e4 url(../images/picbox.bg.gif) 0 100% repeat-x; 
}

.b-picbox p {
    margin: 0;
    padding: 0 0 0.75em 0;
}
/*------------------------*/
.b-memberbox {
    margin-bottom: 2em;
}
.b-memberbox h3 {
    margin-bottom: 1.538em;
    padding: 0.2em 0.769em;
    font-size: 1.083em;
    background-color: #e3e7ea;
}
.b-memberbox .memberbox__text {
    overflow: hidden;
}
.b-memberbox .memberbox__img {
    padding-right: 1.67em;
    float: left;
}
.b-memberbox p {
    margin: 0;
    padding: 0;
}
/*------------------------*/
/*-------------------------------*/
.b-formbox {
    margin-bottom: 1em;
}
.b-formbox table {
    width: 100%;
}
.b-formbox td {
    padding: 0.3em 0;
    vertical-align: top;
}
.b-formbox .formbox__left {
    width: 125px;
}
.b-formbox p.formbox__spectext {
    margin: 0;
    font-size: 0.75em;
    color: #b2b2b2;
    clear: both;
}
.b-formbox .formbox__input {
    width: 350px;
    border: 1px solid #8e8f8f;
}
.b-formbox .formbox__select {
    width: 353px;
}
.b-formbox .formbox__mark {
    color: #ff0000;
}
.b-formbox .img_captcha {
    margin-right: 0.5em;
    float: left;
}
.b-formbox .formbox__captcha {
    margin-right: 0.5em;
    float: left;
}
.b-formbox .formbox__captcha input {
    margin-right: 0.5em;
    width: 90px;
    border: 1px solid #8e8f8f;
}
.b-formbox .formbox__textarea {
    width: 477px;
    min-height: 100px;
    resize: vertical;
    display: block;
    border: 1px solid #8e8f8f;
}
.b-formbox label.error {
    font-size: 0.75em;
    color: #cc3333;
    display: block;
}
.b-formbox input.error,
.b-formbox textarea.error {
    border-color: #cc6666;
    background-color: #ffcccc; 
}
.b-formbox .formbox__file {
    margin-right: 0.5em;
}
.b-formbox .formbox__labelr {
    margin-right: 0;
    float: left;
}
.b-formbox .formbox__radio {
    margin-top: 5px;
    margin-right: 1em;
    float: left;
}  
.b-formbox .formbox__delim {
    margin-bottom: 1em;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #e6e6e6;
    font-weight: bold;
}
.b-formbox .formbox__btn2 {
    padding: 0;
    width: 144px;
    height: 26px;
    border: 0;
    background: url(../images/btn_enter.gif) 50% 50% no-repeat;
    cursor: pointer;
    text-indent: -9999px;
}
.b-formbox .formbox__right {
    text-align: right;
}
.b-formbox p {
    margin: 0;
}
    /*-------------------------------*/
    .b-formbox2 {
        padding: 1em;
        border: 1px solid #e6e6e6;
    }
    .b-formbox2 .formbox__left {
        width: 200px;
        
    }
/*-------------------------------*/
.b-specmenu {
    margin: 0 0 1em 0;
    padding: 0;
}
.b-specmenu:after {
    content: "";
    display: block;
    clear: both;
}
.b-specmenu li {
    margin-right: 0.667em;
    padding-right: 0.667em;
    float: left;
    display: block;
    background: url(../images/specmenu.dot.gif) 100% 0 repeat-y; 
}
.b-specmenu li.last {
    background: none;
}
/*-------------------------------*/
.b-phoneright {
    margin-bottom: 2em;
}
.b-phoneright .title {
    padding: 6px 0 8px 60px;
    background: url(../images/phone.gif) 0 49% no-repeat;
    font-size: 15px;
    font-weight: bold;
    color: #d90101;
}
.b-phoneright .text {
    font-size: 22px;
    text-align: center;
}
.b-phoneright p {
    margin: 0;
    padding: 0;
}
/*-------------------------------*/
.b-formopros {
    margin-bottom: 2em;
}
.b-formopros .title {
    padding: 4px 10px;
    background: url(../images/formopros.gif) 0 0 repeat-x;
    color: #fff;
    font-size: 12px;
    font-weight: bold; 
}
.b-formopros .text {
    padding: 10px;
    border: 1px dotted #ff0000;
    border-top: 0;
}
.b-formopros p {
    margin: 0;
    padding: 0 0 1.5em 0;
}
.b-formopros button {
    margin: : 0;
    padding: 0;
    border: 0;
    background: #fff; 
}
.b-formopros .formopros_btn {
    text-align: center;
}
/*-------------------------------*/
.b-result {
    margin-bottom: 1em;
}
.b-result p {
    margin: 0;
    padding: 0 0 1em 0;
}
.b-result .title {
    font-size: 14px;
}
/*-------------------------------*/
.b-search {
    padding-bottom: 1.5em;
}
.b-search input {
    margin-right: 5px;
    float: left;
    width: 150px;
}
.b-search button {
    margin: 0;
    padding: 0;
    border: 0;
    float: right;
    background: url(../images/btnsearch.gif) 0 0 no-repeat; 
    width: 34px;
    height: 20px;
}
/*-------------------------------*/
/*-------------------------------*/
.b-galbox {}
.b-galbox h2 {}
.b-galbox .galbox__pageline {
    text-align: center;
}
.b-galbox .galbox__pageline a {
    padding: 0 0.5em;
}
.b-galbox .galbox__contentbox {
    margin-bottom: 1em;
}
.b-galbox .galbox__title {}
.b-galbox .galbox__date {
    font-size: 0.92em;
}
.b-galbox .galbox__item {
    margin-right: 2em;
    width: 200px;
    height: 200px;
    overflow: hidden;
    float: left;
}
.b-galbox p {
    margin: 0;
    padding-bottom: 0.3em;
}

/*-------------------------------*/
/*-------------------------------*/
/*-------------------------------*/
/*-------------------------------*/
