/* layer: default */
/* group: editor.gencontent | Генератор контента */
/* group: editor.gencontent.banbox | Блок баннеров */
/* group: editor.gencontent.banbox.horzont | Горизонтальный блок */
/* param: bgcolor                  | Цвет фона | color | #f8f8f8 */
/* param: width                    | Ширина картинки| size | 47.62% */
/* param: bgbtn                    | Цвет фона кнопки | color | #333333 */
/* param: colorbtn                 | Цвет текста кнопки | color | #ffffff */
/* param: btnwidth                 | Ширина кнопки | size | 130px */
/* param: paddingall               | Оступы кнопки | value | 9px 12px 11px 12px */
/* group: editor.gencontent.banbox.vertica | Вертикальный блок */
/* param: bgcolor                  | Цвет фона | color | #f8f8f8 */
/* param: width                    | Ширина блока| size | 280px */
/* param: height                   | Высота блока | size | 490px */
/* param: marginright              | Отступ блока справа | size | 20px */
/* param: marginbottom             | Отступ блока  вниз | size | 20px */
/* param: bgbtn                    | Цвет фона кнопки | color | #333333 */
/* param: colorbtn                 | Цвет текста кнопки | color | #ffffff */
/* param: btnwidth                 | Ширина кнопки | size | 130px */
/* param: paddingall               | Оступы кнопки | value | 9px 12px 11px 12px */
/* group: editor.gencontent.banbox.show | Вертикальный блок с тенью */
/* param: marginright              | Отступ блока справа | size | 20px */
/* param: marginbottom             | Отступ блока  вниз | size | 20px */
/* param: bgcolor                  | Цвет фона | color | #f8f8f8 */
/* param: bgbtn                    | Цвет фона кнопки | color | #333333 */
/* param: bgfon                    | Цвет тени | color | #333333 */
/* param: bgopt                    | Прозрачность | value | 0.5 */
/* param: colorbtn                 | Цвет текста кнопки | color | #ffffff */
/* param: btnwidth                 | Ширина кнопки | size | 130px */
/* param: paddingall               | Оступы кнопки | value | 9px 12px 11px 12px */

/* group: editor.gencontent.title        | Блок заголовки */
/* group: editor.gencontent.title.simple | Заголовки*/
/* param: size                           | Размер заголовка | size | 22px */
/* param: boxshadow_x                    | Сдвиг по Х  | size | 0 */
/* param: boxshadow_y                    | Сдвиг по Y  | size | 0 */
/* param: boxshadow_blue                 | Радиус размытия  | size | 0 */
/* param: boxshadow_color                | Цвет тени  | color | rgba(0, 0, 0, 0.5) */

/* group: editor.gencontent.title.border | Заголовки с подчеркиванием */
/* param: size                           | Размер заголовка | size | 22px */
/* param: bgcolor                        | Цвет подчеркивания | color | #d7d7d7 */
/* param: boxshadow_x                    | Сдвиг по Х  | size | 0 */
/* param: boxshadow_y                    | Сдвиг по Y  | size | 0 */
/* param: boxshadow_blue                 | Радиус размытия  | size | 0 */
/* param: boxshadow_color                | Цвет тени  | color | rgba(0, 0, 0, 0.5) */

/* group: editor.gencontent.title.fon    | Заголовки с фоном */
/* param: size                           | Размер заголовка | size | 22px */
/* param: bgcolor                        | Цвет подчеркивания | color | transparent */
/* param: bgfon                          | Фон заголовка | color | #f3f3f3 */
/* param: boxshadow_x                    | Сдвиг по Х  | size | 0 */
/* param: boxshadow_y                    | Сдвиг по Y  | size | 0 */
/* param: boxshadow_blue                 | Радиус размытия  | size | 0 */
/* param: boxshadow_color                | Цвет тени  | color | rgba(0, 0, 0, 0.5) */

/* group: editor.gencontent.imgandvideo       | Изображение и видео */
/* group: editor.gencontent.imgandvideo.video | Видео */
/* param: bgcolor                             | Цвет фона | color | #f8f8f8 */

/* group: editor.gencontent.decortext              | Оформление текста */
/* group: editor.gencontent.decortext.spisokok     | Список check */
/* param: bgcolor                                  | Цвет иконки | color | #333333 */
/* param: size                                     | Размер | size | 22px */

/* group: editor.gencontent.decortext.spisokdisk   | Список disk */
/* param: bgcolor                                  | Цвет иконки | color | #333333 */
/* param: size                                     | Размер | size | 9px */

/* group: editor.gencontent.decortext.spisoknumber | Нумерованный список */
/* param: bgcolor                                  | Цвет цифры | color | #666666 */ 
/* param: colorbtn                                 | Фон цифры | color | #f0f0f0 */
/* group: editor.gencontent.decortext.quote        | Цитата */
/* param: bgcolor                                  | Цвет иконки | color | #333333 */
/* param: size                                     | Размер | size | 24px */

/* group: editor.gencontent.plus                   | Блок преимущества */
/* group: editor.gencontent.plus.iconcolum         | Иконки (колонки) */
/* param: bgcolor                                  | Цвет иконки | color | #333333 */
/* param: size                                     | Размер | size | 28px */
/* param: whsize                                   | Ширина колонки | size | 33.3% */
/* group: editor.gencontent.plus.iconspisok        | Иконки (список) */
/* param: bgcolor                                  | Цвет иконки | color | #333333 */
/* param: size                                     | Размер | size | 28px */
/* param: whsize                                   | Ширина колонки | size | 20% */
/* group: editor.gencontent.plus.block_with_bg     | Блок(4 элемента) с подложкой */
/* param: height           | Высота блока | height  | 350px */
/* param: width_child      | Ширина дочерних блоков | width  | 140px */

/* group: editor.gencontent.plus.block3_with_bg     | Блок(3 эл.) с подложкой №1 */
/* param: height           | Высота блока | height  | 350px */
/* param: width            | Ширина дочерних блоков | width  | 140px */
/* param: width_mini       | Ширина миниатюры | width  | 50px */
/* param: height_mini      | Высота миниатюры | height | 50px */

/* group: editor.gencontent.plus.block3_1_with_bg     | Блок(3 эл.) с подложкой №2*/
/* param: width            | Ширина дочерних блоков | width  | 290px */
/* param: height           | Высота дочерних блоков | height  | 330px */
/* param: width_content    | Ширина контента | width  | 170px */
/* param: padding_bottom   | Отступ картинки снизу | padding-bottom  | 35px */

/* group: editor.gencontent.promoblock               | Промо блоки */
/* group: editor.gencontent.promoblock.promohorizont | Промо с изображением */
/* param: bgcolor                                    | Цвет фона | color | #f8f8f8 */
/* param: bgbtn                                      | Цвет фона кнопки | color | #333333 */
/* param: colorbtn                                   | Цвет текста кнопки | color | #ffffff */
/* param: btnwidth                                   | Ширина кнопки | size | 130px */
/* param: paddingall                                 | Оступы кнопки | value | 9px 12px 11px 12px */
/* group: editor.gencontent.promoblock.callone       | Промо 2  */
/* param: bgcolor                                    | Цвет фона | color | #f8f8f8 */
/* param: bgborder                                   | Цвет разделителя | color | #ececec */
/* param: bgicon                                     | Цвет иконки | color | #333333 */
/* param: size                                       | Размер | size | 28px */
/* param: fonbtn                                     | Фон кнопки | color | #333333 */
/* param: btncolor                                   | Цвет шрифта кнопки | color | #ffffff */
/* param: btnwidth                                   | Ширина кнопки | size | 130px */
/* param: paddingall                                 | Оступы кнопки | value | 9px 12px 11px 12px */
/* group: editor.gencontent.promoblock.calltwo       | Промо 3  */
/* param: bgcolor                                    | Цвет фона | color | #f8f8f8 */
/* param: bgicon                                     | Цвет иконки | color | #ffffff */
/* param: size                                       | Размер | size | 28px */
/* param: bgfon                                      | Цвет фона под иконкой | color | #333333 */
/* group: editor.gencontent.promoblock.callthree     | Промо 4 */
/* param: bgcolor                                    | Цвет фона | color | #f8f8f8 */
/* param: bgicon                                     | Цвет иконки | color | #ffffff */
/* param: size                                       | Размер | size | 19px */
/* param: bgfon                                      | Цвет фона под иконкой | color | #333333 */

/* group: editor.gencontent.promoblock.callfo        | Промо 5  */
/* param: bgcolor                                    | Цвет фона | color | #ffffff */
/* param: bgshow                                     | Цвет тени | color | #e5e5e5 */
/* param: bgicon                                     | Цвет иконки | color | #ffffff */
/* param: size                                       | Размер | size | 28px */
/* param: bgfon                                      | Цвет фона под иконкой | color | #333333 */
/* param: btnfon                                     | Цвет фона кнопки | color | #333333 */
/* param: btncolor                                   | Цвет текста кнопки | color | #ffffff */
/* param: btnwidth                                   | Ширина кнопки | size | 220px */
/* param: paddingall                                 | Оступы кнопки | value | 9px 12px 11px 12px */

/* group: editor.gencontent.promoblock.callfife      | Промо 6  */
/* param: bgcolor                                    | Цвет фона | color | #f2f2f2 */
/* param: bgicon                                     | Цвет иконки | color | #ffffff */
/* param: size                                       | Размер | size | 28px */
/* param: bgfon                                      | Цвет фона под иконкой | color | #333333 */
/* param: btnfon                                     | Цвет фона кнопки | color | #333333 */
/* param: btncolor                                   | Цвет текста кнопки | color | #ffffff */
/* param: btnwidth                                   | Ширина кнопки | size | 140px */
/* param: paddingall                                 | Оступы кнопки | value | 9px 12px 11px 12px */
/* group: editor.gencontent.promoblock.callsix       | Промо 7  */
/* param: bgcolor                                    | Цвет фона | color | #ffffff */
/* param: bgicon                                     | Цвет иконки | color | #ffffff */
/* param: size                                       | Размер иконки | size | 24px */
/* param: bgfon                                      | Цвет фона под иконкой | color | #333333 */
/* param: bgborder                                   | Цвет рамки | color | #e1e1e1; */

/* group: editor.gencontent.table                    | Таблицы */
/* group: editor.gencontent.table.tableone           | Таблица 3 */
/* param: bgcolor                                    | Фон | color | #ffffff */
/* param: align                                      | Расположение текста заголовка | text-align | left */
/* param: bgtitle                                    | Фон заголовка | color | #f9f9f9 */
/* param: bgcolorok                                  | Цвет иконки check | color |  #80b95e */
/* param: bgcolorclose                               | Цвет иконки close | color |  #e66767 */
/* param: size                                       | Размер иконок | size | 15px */
/* param: iconblock                                  | Столбец с иконками | switch | table-cell */
/* param: bgborder                                   | Цвет линий таблицы | color | #e2e2e2 */
/* param: bguptitle                                  | Цвет верхнего заголовка | color | #666666 */
/* param: weight                                     | Толщина верхнего заголовка | font-weight | bold */
/* group: editor.gencontent.table.tabletwo           | Таблица 2 */
/* param: bgcolor                                    | Фон | color | #ffffff */
/* param: align                                      | Расположение текста заголовка | text-align | left */
/* param: fontitle                                   | Фон заголовка | color | #ffffff */
/* param: bgtitle                                    | Фон четных строк | color | #f9f9f9 */
/* param: bgborder                                   | Цвет линий таблицы | color | #e2e2e2 */
/* param: bguptitle                                  | Цвет верхнего заголовка | color | #666666 */
/* param: weight                                     | Толщина верхнего заголовка | font-weight | bold */
/* group: editor.gencontent.table.tablethree         | Таблица 1 */
/* param: bgcolor                                    | Фон | color | #ffffff */
/* param: align                                      | Расположение текста заголовка | text-align | left */
/* param: bgtitle                                    | Фон четных строк | color | #ffffff */
/* param: bgfonone                                   | Фон первого столбца | color | #ffffff */
/* param: bgborder                                   | Цвет линий таблицы | color | #e2e2e2 */
/* param: bgupfon                                    | Фон верхнего заголовка | color | #ffffff */
/* param: bguptitle                                  | Цвет верхнего заголовка | color | #666666 */
/* param: weight                                     | Толщина верхнего заголовка | font-weight | bold */

/* group: editor.gencontent.see_also                 | Смотри также */
/* group: editor.gencontent.see_also.block1          | Блок 1 */
/* param: text_decoration                            | Подчеркивание  | text-decoration | underline */
/* param: line_height                                | Высота строки  | line-height | 1.375 */

.g-hidelabel {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0;
}
.gc-var1 .var1__h {
    font-family: [editor.h1.family];
    font-size: [editor.gencontent.title.simple.size];
    font-style: [editor.h1.style];
    font-weight: [editor.h1.bold];
    text-decoration: none;
    color: [editor.h1.color];
    margin: 0 0 0.5em 0;
    text-shadow: [editor.gencontent.title.simple.boxshadow_x] [editor.gencontent.title.simple.boxshadow_y] [editor.gencontent.title.simple.boxshadow_blue] [editor.gencontent.title.simple.boxshadow_color];
}
.gc-var2 .var2__h {
    font-family: [editor.h1.family];
    font-size: [editor.gencontent.title.border.size];
    font-style: [editor.h1.style];
    font-weight: [editor.h1.bold];
    text-decoration: none;
    color: [editor.h1.color];
    padding: 0 0 15px;
    border-bottom: 1px solid [editor.gencontent.title.border.bgcolor];
    margin: 0 0 0.5em 0;
    text-shadow: [editor.gencontent.title.border.boxshadow_x] [editor.gencontent.title.border.boxshadow_y] [editor.gencontent.title.border.boxshadow_blue] [editor.gencontent.title.border.boxshadow_color];
}
.gc-var3 .var3__h {
    font-family: [editor.h1.family];
    font-size: [editor.gencontent.title.fon.size];
    font-style: [editor.h1.style];
    font-weight: [editor.h1.bold];
    text-decoration: none;
    color: [editor.h1.color];
    width: 100%;
    background: [editor.gencontent.title.fon.bgfon];
    padding: 19px 30px;
    border-bottom: 1px solid  [editor.gencontent.title.fon.bgcolor];
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 0.5em 0;
    text-shadow: [editor.gencontent.title.fon.boxshadow_x] [editor.gencontent.title.fon.boxshadow_y] [editor.gencontent.title.fon.boxshadow_blue] [editor.gencontent.title.fon.boxshadow_color];
}
/*------------------*/
.gc-hr {
    height: 1px;
    width: 100%;
    border-bottom: 1px dashed #d7d7d7;
    margin: 20px 0;
}
/*------------------*/
.gc-banhorizontal {
    background: [editor.gencontent.banbox.horzont.bgcolor];
}
.gc-banhorizontal .banhorizontal__content {
    padding: 3.7% 3%;
    box-sizing: border-box;
    overflow: hidden;
    vertical-align: middle;
}
.gc-banhorizontal .banhorizontal__content p {
    margin-bottom: 30px;
}
.gc-banhorizontal .banhorizontal__content h2 {
    margin-bottom: 25px;
    font-size: 18px;
}
.gc-banhorizontal .banhorizontal__imgbox {
    float: left;
    font-size: 0;
    width: [editor.gencontent.banbox.horzont.width];
}
.gc-banhorizontal .banhorizontal__imgbox img {
    width: 100%;
    height: auto;
}
.gc-banhorizontal .banhorizontal__link a:link,
.gc-banhorizontal .banhorizontal__link a:active,
.gc-banhorizontal .banhorizontal__link a:visited,
.gc-banhorizontal .banhorizontal__link a:hover {
    font-size: [editor.size];
    color: [editor.gencontent.banbox.horzont.colorbtn];
    background: [editor.gencontent.banbox.horzont.bgbtn];
    display: inline-block;
    width: [editor.gencontent.banbox.horzont.btnwidth];
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
    padding: [editor.gencontent.banbox.horzont.paddingall];
    text-decoration: none;
}
.gc-banhorizontal .banhorizontal__link a:hover {
    opacity: 0.6;
}
/*------------------*/
.gc-banvertical:after {
    content: "";
    font-size: 0;
    display: block;
    clear: both;
}
.gc-banvertical {
    margin: 0 -[editor.gencontent.banbox.vertica.marginright] / 2 [editor.gencontent.banbox.vertica.marginbottom] -[editor.gencontent.banbox.vertica.marginright] / 2;
}
.gc-banvertical .banvertical__item {
    display: inline-block;
    vertical-align: top;
    background: [editor.gencontent.banbox.vertica.bgcolor];
    height: [editor.gencontent.banbox.vertica.height];
    width: [editor.gencontent.banbox.vertica.width];
    margin: 0 [editor.gencontent.banbox.vertica.marginright] / 2;
}
.gc-banvertical .banvertical__content {
    padding: 20px;
    box-sizing: border-box;
    vertical-align: middle;
}
.gc-banvertical .banvertical__content p {
    margin-bottom: 30px;
}
.gc-banvertical .banvertical__content h2 {
    margin-bottom: 25px;
    font-size: 18px;
}
.gc-banvertical .banvertical__imgbox {
    font-size: 0;
    width: 100%;
}
.gc-banvertical .banvertical__imgbox img {
    width: 100%;
    height: auto;
}
.gc-banvertical .banvertical__link a:link,
.gc-banvertical .banvertical__link a:active,
.gc-banvertical .banvertical__link a:visited,
.gc-banvertical .banvertical__link a:hover {
    font-size: [editor.size];
    color: [editor.gencontent.banbox.vertica.colorbtn];
    background: [editor.gencontent.banbox.vertica.bgbtn];
    display: inline-block;
    width: [editor.gencontent.banbox.vertica.btnwidth];
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
    padding: [editor.gencontent.banbox.vertica.paddingall];
    text-decoration: none;
}
.gc-banvertical .banvertical__link a:hover {
    opacity: 0.6;
}
/*------------------*/
.gc-banverticalshow {
    margin: 0 -[editor.gencontent.banbox.show.marginright] / 2 [editor.gencontent.banbox.show.marginbottom] -[editor.gencontent.banbox.show.marginright] / 2;
}
.gc-banverticalshow .banverticalshow__item {
    position: relative;  
    color: #fff;
    display: inline-block;
    vertical-align: top;
    background: [editor.gencontent.banbox.show.bgcolor];
    margin: 0 [editor.gencontent.banbox.show.marginright] / 2;
}
.gc-banverticalshow .banverticalshow__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
}
.gc-banverticalshow .banverticalshow__wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    z-index: 1;  
    background: [editor.gencontent.banbox.show.bgfon];
    opacity: [editor.gencontent.banbox.show.bgopt];
    box-sizing: border-box; 
}
.gc-banverticalshow .banverticalshow__text {
    position: relative;
    z-index: 2;  
}
.gc-banverticalshow .banverticalshow__content p {
    margin-bottom: 30px;
}
.gc-banverticalshow .banverticalshow__content h2 {
    margin-bottom: 25px;
    color: #fff;
}
.gc-banverticalshow .banverticalshow__imgbox {
    font-size: 0;
}
.gc-banverticalshow .banverticalshow__link a:link,
.gc-banverticalshow .banverticalshow__link a:active,
.gc-banverticalshow .banverticalshow__link a:visited {
    font-size: [editor.size];
    color: [editor.gencontent.banbox.show.colorbtn];
    background: [editor.gencontent.banbox.show.bgbtn];
    display: inline-block;
    width: [editor.gencontent.banbox.show.btnwidth];
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
    padding: [editor.gencontent.banbox.show.paddingall];
    text-decoration: none;
}
.gc-banverticalshow .banverticalshow__link a:hover {
    opacity: 0.6;
}
/*------------------*/
.gc-imgbox {
    margin: 0 -2% 20px -2%;
    word-spacing: -.36em;
    display: table;
    width: 100%;
}
.gc-imgbox h3 {
    margin: 0;
}
.gc-imgbox .imgbox__img {
    margin-bottom: 10px;
    width: 100%;
}
.gc-imgbox .imgbox__img img {
    width: 100% !important;
    height: auto !important;
}
.gc-imgbox .imgbox__item {
    margin: 0 2% 20px 2%;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    word-spacing: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.gc-imgbox .imgbox__title {
    display: block;
}
/*------------------*/
.gc-imgbox-info .imgbox__title {
    display: block;
}
/*------------------*/
.gc-imgbox-4 .imgbox__item {
    width: 21%; 
}
.gc-imgbox-3 .imgbox__item {
    width: 29.3%;
}
.gc-imgbox-2 .imgbox__item {
    width: 46%;
}
/*------------------*/
.gc-video {
    margin-bottom: 20px;
    position:relative;
    padding-bottom: 50%;
    height:0;
    overflow:hidden;
    background: [editor.gencontent.imgandvideo.video.bgcolor];
}
.gc-video iframe,
.gc-video object,
.gc-video embed {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
/*------------------*/
.gc-content {
    margin-bottom: 40px;
}
.gc-content:after {
    clear: both;
    content: "";
    display: block;
    font-size: 0;
}
.gc-content .content__left {
    width: 230px;
    margin: 0 30px 0 0;
    float: left;
}
.gc-content .content__center {
    overflow: hidden;
}
.gc-content .content__right {
    width: 230px;
    margin: 0 0 0 30px;
    float: right;
}
.gc-content .content__item {
    margin-bottom: 20px;
}
.gc-content .content__titleimg {
    text-align: center;
    font-style: italic;
    padding: 0;
}
.gc-content .content__titleno .content__titleimg {
    display: none;
}
/*------------------*/
.gc-text svg {
    color: [editor.gencontent.decortext.spisokok.bgcolor];
    font-size: [editor.gencontent.decortext.spisokok.size];
}

/** Админка: обёртка ckeditor над svg */
.gc-text .cke_widget_inline {
    float: left;
}

/** Для клиентской части */
.gc-text .text__item ul li > svg{
    float: left;
}

.gc-text .text__item ul li:after {
    content: '';
    display: block;
    clear: both;
    font-size: 0;
}

.gc-text ul p {
    display: block;
    padding: 0 0 0 50px;
}
.gc-text .text__item ul {
    padding-left: 0;
}
.gc-text .text__item ul li {
    padding: 0 0 10px 0;
    list-style-type: none; 
    position: relative;
}
/*------------------*/
.gc-text-count .text__item ul {
    counter-reset: li;
    list-style: none;
    padding-left: 0;
}
.gc-text-count ul li {
    list-style-type: none; 
    position: relative;
}
.gc-text-count ul p {
    position: relative;
    display: block;
    padding: 0 0 12px 50px;
    margin: 0 0 10px 0;
    border-radius: 30px;
}
.gc-text-count ul p:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: 0;
    top: 14px;
    margin-top: -20px;
    background: [editor.gencontent.decortext.spisoknumber.colorbtn];
    height: [editor.size] * 2 + 2 ;
    width: [editor.size] * 2 + 2 ;
    line-height: 2;
    font-size: [editor.size];
    color: [editor.gencontent.decortext.spisoknumber.bgcolor];
    text-align: center;
    font-weight: bold;
    border-radius: 30px;
}
/*------------------*/
.gc-text-disk .text__item svg {
    color: [editor.gencontent.decortext.spisokdisk.bgcolor];
    font-size: [editor.gencontent.decortext.spisokdisk.size];
}

.gc-text-disk .text__item svg,
.gc-text-disk .text__item p {
    display: inline-block;
    vertical-align: middle;
}

.gc-text-disk .text__item ul {
    padding-left: 0;
}
.gc-text-disk .text__item  ul li {
    padding: 0 0 10px;
    list-style-type: none; 
    position: relative;
}
.gc-text-disk ul p {
    display: inline-block;
    padding: 0 0 0 20px;
    margin: 0;
}
/*------------------*/
.gc-quote {
    width: 100%;
}
.gc-quote .quote__nav {
    position: relative;
    padding: 10px 30px;
    margin-left: 20px;
}
.gc-quote .quote__img {
    position: absolute;
    top: 0;
    left: -20px;
}
.gc-quote .quote__img svg {
    color: [editor.gencontent.decortext.quote.bgcolor];
    font-size: [editor.gencontent.decortext.quote.size];
}

.gc-quote p {
    font-size: [editor.size];
}
/*------------------*/
.gc-plus {
    margin: 0 -45px 0;
}
.gc-plus svg {
    font-size: [editor.gencontent.plus.iconcolum.size];
    color: [editor.gencontent.plus.iconcolum.bgcolor];
}
.gc-plus .plus__item {
    padding: 0 45px 20px;
    margin: 0;
    margin-right: -.275em;
    display: inline-block;
    vertical-align: top;
    width: [editor.gencontent.plus.iconcolum.whsize];
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.gc-plus .plus__imgbox {
    display: table-cell;
    padding-right: 20px;
    vertical-align: middle;
}
.gc-plus .plus__text {
    display: table-cell;
    vertical-align: middle;
    padding: 5px;
}
.gc-plus .plus__text p {
    padding: 0;
}
/*------------------*/
.gc-plushorizontal {
    margin: 0 -4px 0;
}
.gc-plushorizontal svg {
    color: [editor.gencontent.plus.iconspisok.bgcolor];
    font-size: [editor.gencontent.plus.iconspisok.size];
}
.gc-plushorizontal .plushorizontal__item {
    padding: 0 4px 20px;
    margin: 0;
    margin-right: -.275em;
    display: inline-block;
    vertical-align: top;
    width: [editor.gencontent.plus.iconspisok.whsize];
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
.gc-plushorizontal .plushorizontal__imgbox {
    padding-bottom: 10px;
}
.gc-plushorizontal .plushorizontal__text {
    padding: 0 5px;
}
.gc-plushorizontal .plushorizontal__text p {
    text-align: center;
}
/*------------------*/
.gc-advantage {
    margin: 0 -10px 0;
}
.gc-advantage .advantage__item {
    padding: 0 10px 20px;
    margin: 0;
    margin-right: -.275em;
    width: 20%;
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
.gc-advantage .advantage__imgbox {
    padding-bottom: 15px;
}
.gc-advantage .advantage__text {
    padding: 0 5px;
}
.gc-advantage .advantage__text p {
    text-align: center;
}
.gc-advantage .advantage__item img {
    vertical-align: middle;
    border-radius: 50px;
}
/*------------------*/
.gc-advantage4-with-bg {
    position: relative;
}

.gc-advantage4-with-bg img{
    /* перекрываем стили ckeditor*/
    margin: 0 !important;
}

.gc-advantage4-with-bg .advantage4-with-bg__bgfon{
    overflow: hidden;
}

.gc-advantage4-with-bg .advantage4-with-bg__bgfon img{
    min-width: 100%;
    width: auto !important;
    height: [editor.gencontent.plus.block_with_bg.height] !important;
}

.gc-advantage4-with-bg .advantage__wrapper{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
}

.gc-advantage4-with-bg .advantage4-with-bg__flex-container{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.gc-advantage4-with-bg .advantage4-with-bg__item{
    width: [editor.gencontent.plus.block_with_bg.width_child];
    padding-bottom: 10px;
    text-align: center;
}

.gc-advantage4-with-bg .advantage4-with-bg__text{
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    line-height: 1.5;
}

.gc-advantage4-with-bg .advantage4-with-bg__imgbox{
    padding-bottom: 5px;
}

.gc-advantage4-with-bg .advantage4-with-bg__imgbox img{
    width: 100px !important;
    height: 100px !important;
    border-radius: 50px;
}
/*---------------------------------------------------*/

/*---------------------------------------------------*/

.gc-advantage3-with-bg {
    position: relative;
}

.gc-advantage3-with-bg img{
    /* перекрываем стили ckeditor*/
    margin: 0 !important;
}

.gc-advantage3-with-bg .advantage3-with-bg__bgfon{
    overflow: hidden;
}

.gc-advantage3-with-bg .advantage3-with-bg__bgfon img{
    min-width: 100%;
    width: auto !important;
    height: [editor.gencontent.plus.block3_with_bg.height] !important;
}

.gc-advantage3-with-bg .advantage__wrapper{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
}

.gc-advantage3-with-bg .advantage3-with-bg__flex-container{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.gc-advantage3-with-bg .advantage3-with-bg__item{
    width: [editor.gencontent.plus.block3_with_bg.width];
    text-align: center;
}

.gc-advantage3-with-bg .advantage3-with-bg__item:last-child {
    padding-bottom: 0;
}

.gc-advantage3-with-bg .advantage3-with-bg__text{
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    line-height: 1.5;
}

.gc-advantage3-with-bg .advantage3-with-bg__title{
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    text-transform: none;
    color: #fff;
    padding-bottom: 15px;
}

.gc-advantage3-with-bg .advantage3-with-bg__imgbox{
    padding-bottom: 20px;
}

.gc-advantage3-with-bg .advantage3-with-bg__imgbox img{
    margin: 0 !important;
    width: [editor.gencontent.plus.block3_with_bg.width_mini] !important;
    height: [editor.gencontent.plus.block3_with_bg.height_mini] !important;
}

/*---------------------------------------------*/

/*---------------------------------------------*/
.gc-advantage3-1-with-bg{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    margin-bottom: -20px;
}

.gc-advantage3-1-with-bg .advantage3-1-with-bg__item{
    position: relative;
    margin-bottom: 20px;
}

.gc-advantage3-1-with-bg .advantage3-1-with-bg__bgfon img{
    margin: 0 !important;
    width: [editor.gencontent.plus.block3_1_with_bg.width] !important;
    height: [editor.gencontent.plus.block3_1_with_bg.height] !important;
}

.gc-advantage3-1-with-bg .advantage3-1-with-bg__content{
    position: absolute;
    width: [editor.gencontent.plus.block3_1_with_bg.width_content];
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    text-align: center;
}

.gc-advantage3-1-with-bg .advantage3-1-with-bg__imgbox{
    padding-bottom: [editor.gencontent.plus.block3_1_with_bg.padding_bottom];
}

.gc-advantage3-1-with-bg .advantage3-1-with-bg__imgbox img{
    margin: 0 !important;
    width: 100px !important;
    height: 100px !important;
    border-radius: 50%;
}

.gc-advantage3-1-with-bg .advantage3-1-with-bg__title{
    padding-bottom: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #fff;
}

.gc-advantage3-1-with-bg .advantage3-1-with-bg__text{
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    line-height: 1.571;
    color: #fff;
}
/*-------------------------------------------------------*/
.gc-promohorizontal {
    background: [editor.gencontent.promoblock.promohorizont.bgcolor];
}
.gc-promohorizontal .promohorizontal__content {
    padding: 34px 30px;
    box-sizing: border-box;
    overflow: hidden;
    vertical-align: middle;
}
.gc-promohorizontal .promohorizontal__content p {
    margin-bottom: 30px;
}
.gc-promohorizontal .promohorizontal__content h2 {
    margin-bottom: 25px;
    font-size: 18px;
}
.gc-promohorizontal .promohorizontal__imgbox {
    float: left;
    font-size: 0;
}
.gc-promohorizontal .promohorizontal__link a:link,
.gc-promohorizontal .promohorizontal__link a:active,
.gc-promohorizontal .promohorizontal__link a:visited,
.gc-promohorizontal .promohorizontal__link a:hover {
    font-size: [editor.size];
    color: [editor.gencontent.promoblock.promohorizont.colorbtn];
    background: [editor.gencontent.promoblock.promohorizont.bgbtn];
    display: inline-block;
    width: [editor.gencontent.promoblock.promohorizont.btnwidth];
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
    padding: [editor.gencontent.promoblock.promohorizont.paddingall];
    text-decoration: none;
}
.gc-promohorizontal .promohorizontal__link a:hover {
    opacity: 0.6;
}
/*------------------*/
.gc-promo {
    background: [editor.gencontent.promoblock.callone.bgcolor];
    margin-bottom: 20px;
}
.gc-promo svg {
    color: [editor.gencontent.promoblock.callone.bgicon];
    font-size: [editor.gencontent.promoblock.callone.size];
}
.gc-promo .promo__content {
    padding: 25px 30px 40px 30px;
    box-sizing: border-box;
}
.gc-promo .promo__nav {
    display: table;
    width: 100%;
    padding: 20px 30px;
    box-sizing: border-box;
    border-bottom: 1px solid [editor.gencontent.promoblock.callone.bgborder];
}
.gc-promo .promo__imgbox {
    display: table-cell;
    vertical-align: middle;
}
.gc-promo h2 {
    font-size: 18px;
    display: table-cell;
    vertical-align: middle;
    padding: 0;
}
.gc-promo .promo__buttom {
    display: table-cell;
    vertical-align: middle;
}
.gc-promo .promo__buttom a:link,
.gc-promo .promo__buttom a:active,
.gc-promo .promo__buttom a:visited {
    font-size: [editor.size];
    color: [editor.gencontent.promoblock.callone.btncolor];
    background: [editor.gencontent.promoblock.callone.fonbtn];
    float: right;
    width: [editor.gencontent.promoblock.callone.btnwidth];
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    padding: [editor.gencontent.promoblock.callone.paddingall];
}
.gc-promo .promo__buttom a:hover {
    opacity: 0.6;
}
/*------------------*/
.gc-promocall {
    background: [editor.gencontent.promoblock.calltwo.bgcolor];
    display: table;
    margin-bottom: 20px;
}
.gc-promocall svg {
    color: [editor.gencontent.promoblock.calltwo.bgicon];
    font-size: [editor.gencontent.promoblock.calltwo.size];
}
.gc-promocall h2 {
    font-size: 18px;
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    color: #fff;
}
.gc-promocall .promocall__content {
    padding: 20px 30px;
    box-sizing: border-box;
    display: table-cell;
}
.gc-promocall .promocall__nav {
    display: table-cell;
    vertical-align: middle;
    background: [editor.gencontent.promoblock.calltwo.bgfon];
    border-radius: 2px;
    width: 42%;
    padding: 20px 30px;
    box-sizing: border-box; 
}
.gc-promocall .promocall__imgbox {
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
}
/*------------------*/
.gc-promocontact {
    background: [editor.gencontent.promoblock.callthree.bgcolor];
    display: table;
    border: 1px solid #eaeaea;
    position: relative;
    width: 98%;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 0 50px;
    box-sizing: border-box;
}
.gc-promocontact .promocontact__soto {
    background: [editor.gencontent.promoblock.callthree.bgfon];
    width: 40px;
    height: 40px;
    border-radius: 50px;
    position: absolute;
    left: -20px;
    border: 5px solid #fff;
    top: 0;
    bottom: 0;
    margin: auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gc-promocontact .promocontact__soto svg {
    color: [editor.gencontent.promoblock.callthree.bgicon];
    font-size: [editor.gencontent.promoblock.callthree.size];
}
.gc-promocontact h2 {
    font-size: 18px;
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    width: 37%;
    color: #333;
}
.gc-promocontact .promocontact__telephon,
.gc-promocontact .promocontact__email {
    padding: 20px 20px;
    box-sizing: border-box;
    display: table-cell;
}
.gc-promocontact .promocontact__telephon span {
    font-size: [editor.size] + 2;
    color: #333;
}
.gc-promocontact .promocontact__email  a:link,
.gc-promocontact .promocontact__email  a:active,
.gc-promocontact .promocontact__email  a:visited {
    font-size: [editor.size] + 2;
    text-decoration: underline;
    color: #333;
}
.gc-promocontact .promocontact__email a:hover {
    text-decoration: none;
}
/*------------------*/
.gc-promotelephon {
    display: table;
    width: 100%;
    margin-bottom: 20px;
}
.gc-promotelephon svg {
    color: [editor.gencontent.promoblock.callfo.bgicon];
    font-size: [editor.gencontent.promoblock.callfo.size];
}
.gc-promotelephon .promotelephon__content {
    padding: 25px 30px 40px 30px;
    box-sizing: border-box;
}
.gc-promotelephon .promotelephon__nav {
    margin-left: 10px;
    padding: 21px 30px;
    box-sizing: border-box;
    background: [editor.gencontent.promoblock.callfo.bgcolor];
    -webkit-box-shadow: 0px 3px 28px 3px [editor.gencontent.promoblock.callfo.bgshow];
    -moz-box-shadow: 0px 3px 28px 3px [editor.gencontent.promoblock.callfo.bgshow];
    box-shadow: 0px 3px 28px 3px [editor.gencontent.promoblock.callfo.bgshow];
}
.gc-promotelephon .promotelephon__imgbox {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 2px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: [editor.gencontent.promoblock.callfo.bgfon];
}
.gc-promotelephon .promotelephon__imgbox:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left-color: [editor.gencontent.promoblock.callfo.bgfon];
    border-width: 7px;
    margin-top: -7px;
}
.gc-promotelephon .promotelephon__content p {
    line-height: 1.4;
    margin: 0;
}
.gc-promotelephon .promotelephon__nav span {
    font-size: 28px;
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    color: #0f0f0f;
    width: 87%;
}
.gc-promotelephon .promotelephon__buttom {
    display: table-cell;
    vertical-align: middle;
}
.gc-promotelephon .promotelephon__buttom a:link,
.gc-promotelephon .promotelephon__buttom a:active,
.gc-promotelephon .promotelephon__buttom a:visited {
    font-size: [editor.size];
    color: [editor.gencontent.promoblock.callfo.btncolor];
    background: [editor.gencontent.promoblock.callfo.btnfon];
    float: right;
    width: [editor.gencontent.promoblock.callfo.btnwidth];
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    padding: [editor.gencontent.promoblock.callfo.paddingall];
}
.gc-promotelephon .promotelephon__buttom a:hover {
    opacity: 0.6;
}
/*------------------*/
.gc-promotitle {
    display: table;
    width: 100%;
    margin-bottom: 20px;
}
.gc-promotitle svg {
    color: [editor.gencontent.promoblock.callfife.bgicon]; 
    font-size: [editor.gencontent.promoblock.callfife.size];
}
.gc-promotitle .promotitle__content {
    padding: 25px 30px 40px 30px;
    box-sizing: border-box;
}
.gc-promotitle .promotitle__nav {
    margin-left: 10px;
    padding: 21px 30px;
    box-sizing: border-box;
    background: [editor.gencontent.promoblock.callfife.bgcolor];
}
.gc-promotitle .promotitle__imgbox {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 2px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: [editor.gencontent.promoblock.callfife.bgfon];
}
.gc-promotitle .promotitle__imgbox:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left-color: [editor.gencontent.promoblock.callfife.bgfon];
    border-width: 7px;
    margin-top: -7px;
}
.gc-promotitle h2 {
    font-size: 18px;
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    color: #0f0f0f;
    width: 87%;
}
.gc-promotitle .promotitle__buttom {
    display: table-cell;
    vertical-align: middle;
}
.gc-promotitle .promotitle__buttom a:link,
.gc-promotitle .promotitle__buttom a:active,
.gc-promotitle .promotitle__buttom a:visited {
    font-size: [editor.size];
    color: [editor.gencontent.promoblock.callfife.btncolor];
    background: [editor.gencontent.promoblock.callfife.btnfon];
    float: right;
    width: [editor.gencontent.promoblock.callfife.btnwidth];
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    padding: [editor.gencontent.promoblock.callfife.paddingall];
}
.gc-promotitle .promotitle__buttom a:hover {
    opacity: 0.6;
}
/*------------------*/
.gc-promotext {
    display: table;
    width: 100%;
    margin-bottom: 20px;
}
.gc-promotext .promotext__content {
    padding: 25px 30px 40px 30px;
    box-sizing: border-box;
}
.gc-promotext .promotext__nav {
    position: relative;
    padding: 21px 30px;
    box-sizing: border-box;
    background: [editor.gencontent.promoblock.callsix.bgcolor];
    border: 1px solid [editor.gencontent.promoblock.callsix.bgborder];
    margin-left: 50px;
}
.gc-promotext .promotext__img {
    position: absolute;
    top: -1px;
    left: -50px;
    width: 50px;
    height: 50px;
    text-align: center;
    background: [editor.gencontent.promoblock.callsix.bgfon];
    display: flex;
    align-items: center;
    justify-content: center;
}
.gc-promotext .promotext__img svg {
    color: [editor.gencontent.promoblock.callsix.bgicon];
    font-size: [editor.gencontent.promoblock.callsix.size];
}

.gc-promotext p {
    font-size: [editor.size];
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    width: 87%;
}
/*------------------*/
.gc-table table {
    background: [editor.gencontent.table.tablethree.bgcolor];
    border: 1px solid [editor.gencontent.table.tablethree.bgborder];
    font-size: [editor.size];
    width: 100%;
    border-collapse: collapse;
}
.gc-table table th {
    padding: 20px 30px;
    border: 1px solid [editor.gencontent.table.tablethree.bgborder];
    text-align: [editor.gencontent.table.tablethree.align];
    background: [editor.gencontent.table.tablethree.bgupfon];
    color: [editor.gencontent.table.tablethree.bguptitle];
    font-weight: [editor.gencontent.table.tablethree.weight];
}
.gc-table table th:first-child {
    text-align: [editor.gencontent.table.tablethree.align];
}
.gc-table table td:first-child {
    background: [editor.gencontent.table.tablethree.bgfonone];
    text-align: left;
}
.gc-table table tr:nth-child(2n) {
    background: [editor.gencontent.table.tablethree.bgtitle];
}
.gc-table table td {
    padding: 20px 30px;
    width: 225px;
    box-sizing: border-box;
    text-align: left;
    border: 1px solid [editor.gencontent.table.tablethree.bgborder];
}
/*------------------*/
.gc-tablecontent table {
    background: [editor.gencontent.table.tableone.bgcolor];
    border: 1px solid [editor.gencontent.table.tableone.bgborder];
    font-size: [editor.size];
    width: 100%;
    border-collapse: collapse;
}
.gc-tablecontent svg {
    font-size: [editor.gencontent.table.tableone.size];
}
.gc-tablecontent svg.fa-check {
    color: [editor.gencontent.table.tableone.bgcolorok];
}
.gc-tablecontent svg.fa-times {
    color: [editor.gencontent.table.tableone.bgcolorclose];
}
.gc-tablecontent table th {
    padding: 20px 30px;
    border: 1px solid [editor.gencontent.table.tableone.bgborder];
    text-align: left;
    color: [editor.gencontent.table.tableone.bguptitle];
    font-weight: [editor.gencontent.table.tableone.weight];
}
.gc-tablecontent table th:first-child {
    background: [editor.gencontent.table.tableone.bgtitle];
    text-align: [editor.gencontent.table.tableone.align];
}
.gc-tablecontent table td:first-child {
    background: [editor.gencontent.table.tableone.bgtitle];
    text-align: [editor.gencontent.table.tableone.align];
}
.gc-tablecontent table tr:nth-child(2n) {
    background: [editor.gencontent.table.tableone.bgcolor];
}
.gc-tablecontent table td {
    padding: 20px 30px;
    text-align: left;
    border: 1px solid [editor.gencontent.table.tableone.bgborder];
}
.gc-tablecontent table td.table__center {
    border: none;
    border-top: 1px solid [editor.gencontent.table.tableone.bgborder];
}
.gc-tablecontent table th.table__center {
    border: none;
}
.gc-tablecontent .table__center {
    display: [editor.gencontent.table.tableone.iconblock];
    text-align: center;
}
/*------------------*/
.gc-tableinfo table {
    background: [editor.gencontent.table.tabletwo.bgcolor];
    border: 1px solid [editor.gencontent.table.tabletwo.bgborder];
    font-size: [editor.size];
    width: 100%;
    border-collapse: collapse;
}
.gc-tableinfo table th {
    padding: 20px 30px;
    border: 1px solid [editor.gencontent.table.tabletwo.bgborder];
    text-align: left;
    color: [editor.gencontent.table.tabletwo.bguptitle];
    font-weight: [editor.gencontent.table.tabletwo.weight];
}
.gc-tableinfo table tr:first-child th {
    background: [editor.gencontent.table.tabletwo.fontitle];
    text-align: [editor.gencontent.table.tabletwo.align];
}
.gc-tableinfo table td:first-child {
    background: transparent;
    text-align: left;
}
.gc-tableinfo table tr:nth-child(2n) {
    background: [editor.gencontent.table.tabletwo.bgtitle];
}
.gc-tableinfo table td {
    padding: 20px 30px;
    text-align: left;
    border: 1px solid [editor.gencontent.table.tabletwo.bgborder];
}
.gc-tableinfo table td.yes {
    background: url(../img/yes.png) 50% 50% no-repeat;
}
.gc-tableinfo table td.no {
    background: url(../img/no.png) 50% 50% no-repeat;
}
/*------------------*/
.gc-words:after {
    content: '';
    display: block;
    font-size: 0;
    clear: both;
}
.gc-words .words__img {
    float: left; 
    margin-right: 15px;
}
.gc-words .words__img img {
    width: 100%;
    height: auto;
}
/*------------------*/
.gc-words-colum2 {
    margin: 0 -2%;
    word-spacing: -.36em;
    display: table;
    width: 100%;
}
.gc-words-colum2 .words__item {
    margin: 0 2%;
    display: inline-block;
    vertical-align: top;
    width: 46%;
    word-spacing: normal;
}
/*------------------*/
.gc-see-also1{
    margin: 0 0 20px;
}

.gc-see-also1 .see-also1__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 3%;
    margin-bottom: 30px;
    width: 30%;
}

.gc-see-also1 .see-also1__item:last-child{
    margin-bottom: 0;
}

.gc-see-also1 .b-title-h2 {
    margin-bottom: 15px;
    background: url("../img/star.png") no-repeat 0 50%;
    padding-left: 35px;
}

.gc-see-also1 .see-also1__text{
    text-decoration: [editor.gencontent.see_also.block1.text_decoration];
    line-height: [editor.gencontent.see_also.block1.line_height];
}


.gc-see-also1 .see-also1__imgbox{
    margin-bottom: 10px;
}

.gc-see-also1 .see-also1__imgbox img{
    margin: 0 !important;
    width: 100% !important;
    height: auto !important;
}

/*------------------*/
/*------------------*/
