@media handheld, only screen and (max-width: 767px) {

/*----------------------*/
.gc-table {
    overflow-x: scroll;
}
.gc-tablecontent {
    overflow-x: scroll;
}
.gc-tableinfo {
    overflow-x: scroll;
}
/*----------------------*/
.gc-plus .plus__item {
    width: 100%;
}
.gc-plushorizontal .plushorizontal__item {
    width: 50%;
}
.gc-advantage .advantage__item {
    width: 50%;
}
/*----------------------*/
.gc-imgbox,
.gc-imgbox-2,
.gc-imgbox-3,
.gc-imgbox-4 {
    margin: 0 0 20px;
}
.gc-imgbox-2 .imgbox__item {
    margin: 0 0 20px;
    width: 100%;    
    display: block;
}
.gc-imgbox-3 .imgbox__item {
    margin: 0 0 20px;
    width: 100%;    
    display: block;
}
.gc-imgbox-4 .imgbox__item {
    margin: 0 0 20px;
    width: 100%;    
    display: block;
}
/*----------------------*/
.gc-words-colum2 {
    margin: 0;
    word-spacing: normal;
    display: block;
    width: 100%;
}
.gc-words-colum2 .words__item {
    margin: 0;
    display: block;
    vertical-align: top;
    width: 100%;
}
/*----------------------*/
.gc-content {}
.gc-content .content__left {
    margin-right: 20px;
    width: 45%;
}
.gc-content .content__right {
    margin-left: 20px;
    width: 45%;
}
.gc-content .content__item img {
    width: 100% !important;
    height: auto !important;
}

.gc-advantage4-with-bg .advantage4-with-bg__item{
    width: 140px;
}

.gc-advantage3-with-bg .advantage3-with-bg__item {
    width: 260px;
    padding-bottom: 35px;
    text-align: left;
}

.gc-advantage3-with-bg .advantage3-with-bg__imgbox {
    float: left;
    margin-right: 20px;
    padding: 0;
}

.gc-advantage3-with-bg .advantage3-with-bg__title{
    padding-bottom: 5px;
}

.gc-see-also1 .see-also1__item{
    margin: 0 0 30px;
    width: 100%;
    display: block;
}

/*----------------------*/
/*----------------------*/
/*----------------------*/
/*----------------------*/
/*----------------------*/

}
