{% if value %}
    <div class="catalogbox__saleitem">
        <img alt="" src="{{Design.get('modules.catalogbox.btnbox.salebox', img, 'skewer\\build\\Page\\CatalogViewer\\Asset')}}">
    </div>
{% endif %}
