<p class="t-icons-info">Фотография здания, где расположена ваша компания позволяет клиенту лучше ориентироваться на местности и значительно упростит ему поиск вашего офиса<img alt="" src="/files/233/catalog1-jpg.gif" style="margin: 5px; width: 100%;" /></p>

<table border="0" cellpadding="1" cellspacing="1" style="width: 100%;">
    <tbody itemscope="" itemtype="http://schema.org/Organization">
    <tr>
        <td style="width:160px;"><strong>Название компании:</strong></td>
        <td><span itemprop="name">ООО &laquo;<a href="[72]">Название компании</a>&raquo;</span></td>
    </tr>
    <tr>
        <td><strong>Контактное лицо:</strong></td>
        <td>Иванов Иван</td>
    </tr>
    <tr>
        <td><strong>Адрес:</strong></td>
        <td itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"><span itemprop="postalCode">214031</span>, <span itemprop="addressCountry">Россия</span>,<span itemprop="addressLocality"> Смоленск</span>,<span itemprop="streetAddress"> ул. Иванова, д. 1</span></td>
    </tr>
    <tr>
        <td colspan="1" rowspan="1"><strong>Телефон:</strong></td>
        <td><span itemprop="telephone">+7 (000) 00-00-00</span></td>
    </tr>
    <tr>
        <td colspan="1">&nbsp;</td>
        <td><span itemprop="telephone">+7 (000) 00-00-00</span></td>
    </tr>
    <tr>
        <td colspan="1">&nbsp;</td>
        <td><span itemprop="telephone">+7 (000) 00-00-00</span></td>
    </tr>
    <tr>
        <td><strong>E-mail:</strong></td>
        <td><a href="mailto:test@test.ru"><span itemprop="email">test@test.ru</span></a></td>
    </tr>
    </tbody>
</table>

<h2 style="margin-top:20px;">Расположение компании на карте</h2>
<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=vUEHaBQOPjA5OLXymaCabnv3Sj8_iLSr&width=700&height=450"></script>

<h2 style="margin-top:20px;">&nbsp;</h2>
