<p>ООО &laquo;Название компании&raquo; сотрудничает с юридическими и физическими лицами. Все соглашения с компанией закрепляются документально, на всю продукцию из нашего каталога действует гарантия производителя.</p>

<h2>Как заказать</h2>

<p>Сделать заказ можно одним из следующих способов:</p>

<ul>
    <li>по телефону&nbsp;<span style="text-align: right;">+7 (000) 000 00 00</span>&nbsp;в свободной форме;</li>
    <li>по электронной почте&nbsp;<span style="text-align: right;"><a href="#">test@test.ru</a>&nbsp;</span>в свободной форме;</li>
    <li>через каталог продукции.</li>
</ul>

<p>Чтобы сделать заказ через каталог продукции, нажмите на кнопку &laquo;Заказать&raquo; рядом с необходимым вам наименованием. Товар будет добавлен в список покупок. Вы в любой момент можете просмотреть свой список на странице &laquo;Корзина&raquo;. В таблице вы можете изменять количество заказанных товаров или удалять ненужные позиции. Чтобы перейти к процедуре оформления заказа нажмите на кнопку &laquo;Отправить&raquo;.</p>

<h2>Оплата</h2>

<p>Оплатить заказ вы можете одним из следующих способов:</p>

<ul>
    <li>способ 1,</li>
    <li>способ 2,</li>
    <li>способ 3,</li>
    <li>оплата через систему ROBOKASSA</li>
</ul>

<h2>Оплата через систему ROBOKASSA</h2>

<p>Наш интернет-магазин работает на основе системы электронных платежей ROBOKASSA объединяющей в себе различные формы оплаты без комиссии:</p>

<ul>
    <li>банки,</li>
    <li>пластиковые карты,</li>
    <li>оплата через iPhone,</li>
    <li>выставление счета в интернет-банк,</li>
    <li>оплата в розничных сетях,</li>
    <li>электронные деньги,</li>
    <li>терминалы моментальной оплаты.</li>
</ul>

<p>При оформлении заказа через меню корзины выберите из списка вариантов подходящий способ доставки и форму оплаты &laquo;Оплата через Робокассу&raquo;, после чего нажмите на кнопку &laquo;Отправить&raquo;.</p>

<p>В появившемся на экране уведомлении при нажатии на кнопку &laquo;Оплатить&raquo; произойдет автоматический переход на страницу с вариантами оплаты, где вам потребуется выбрать нужный вам способ и, указав требуемые в инструкции данные, совершить оплату.</p>

<p>После этого заказ будет считаться подтвержденным и поступит в обработку.</p>

<h2>Доставка</h2>

<p><strong>Доставка по городу и области</strong>&nbsp;осуществляется силами компании. Стоимость доставки по городу &ndash; 1000-1500 руб. в зависимости от удаленности пункта назначения. Стоимость доставки по области оговаривается отдельно.</p>

<p>При заказе на сумму от 10 тыс. руб. доставка по Москве и области производится бесплатно.</p>

<p><strong>Доставка в регионы</strong>&nbsp;может выполняться любой транспортной компанией по выбору клиента. Стоимость услуги оплачивается клиентом.</p>
